@model IEnumerable<AutoKomisMVC.ViewModels.AdvertismentDTO>
@{
    ViewBag.Title = "Lista ogłoszeń";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="searchOrderGroup">

    <div class="col-md-6 col-xs-6 searchOrderTopic">
        <text>Wyszukiwarka</text>
        <form data-ajax="true" class="input-group col-md-10 col-md-offset-1 " id="search-form" method="get" data-ajax-target="#carlist-section">

            <input type="text" class="search-query form-control" data-autocomplete-source="@Url.Action("CarsSugestions")" name="searchQuery" id="searchControl" placeholder="Wprowadź tekst, aby wyfiltrować..." />

            <span class="input-group-btn">
                <button class="btn btn-info" id="searchControlBrn">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>

        </form>
    </div>
    <div class="col-md-6 col-xs-6 searchOrderTopic">
        <text>Sortowanie</text>
        <div id="tab" class="btn-group col-md-10 col-md-offset-1 col-xs-12">
            <button id="ascending" class="btn btn-large btn-success orderTopicFont active">Rosnąco</button>
            <button id="descending" class="btn btn-large btn-success orderTopicFont">Malejąco</button>
            <button id="data" class="btn btn-large btn-info active orderTopicFont">Data</button>
            <button id="brand" class="btn btn-large btn-info orderTopicFont">Marka</button>
            <button id="price" class="btn btn-large btn-info orderTopicFont">Cena</button>
        </div>
    </div>

</div>



@Html.Partial("_AdminCarList")


<div class="text-center">
    <ul class="pagination " style="background-color:white">
        <li><a href="#" title="">1</a></li>
        <li><a href="#" title="">2</a></li>
        <li><a href="#" title="">3</a></li>
        <li><a href="#" title="">4</a></li>
        <li><a href="#" title="">5</a></li>
    </ul>
</div>

@section ScriptsBottom{
    @*@System.Web.Optimization.Scripts.Render("~/bundles/jquery")*@
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script>
        activeEl = 1;
    </script>
    <script>
        $(function () {

            var ajaxSubmit = function () {

                var $form = $(this);

                var settings = {
                    data: $(this).serialize(),
                    url: $(this).attr("action"),
                    type: $(this).attr("method")
                };

                $.ajax(settings).done(function (result) {
                    var $targetElement = $($form.data("ajax-target"));
                    var $newContent = $(result);
                    $($targetElement).replaceWith($newContent);
                    $newContent.effect("slide");
                });

                return false;
            };


            var setupAutoComplete = function () {
                var $input = $(this);

                var options = {
                    source: $input.attr("data-autocomplete-source"),
                    select: function (event, ui) {
                        $input = $(this);
                        $input.val(ui.item.label);
                        var $form = $input.parents("form:first");
                        $form.submit();
                    }
                };

                $input.autocomplete(options);
            };

            $("#searchControl").each(setupAutoComplete);
            $("#search-form").submit(ajaxSubmit);



            $("#price").click(function () {

                var button = $(this);
                button.addClass("active");

                $("#data").removeClass("active");
                $("#brand").removeClass("active");


            });

            $("#brand").click(function () {

                var button = $(this);
                button.addClass("active");

                $("#price").removeClass("active");
                $("#data").removeClass("active");


            });

            $("#data").click(function () {

                var button = $(this);
                button.addClass("active");

                $("#price").removeClass("active");
                $("#brand").removeClass("active");


            });

            $("#ascending").click(function () {

                var button = $(this);
                button.addClass("active");

                $("#descending").removeClass("active");


            });


            $("#descending").click(function () {

                var button = $(this);
                button.addClass("active");

                $("#ascending").removeClass("active");


            });

        });

    </script>
}